/****************** body and text ******************/
 html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Nunito', sans-serif;
     color: #ffffff;
     background-color: #0a1a2a;
}
 .uppercase {
     text-transform: uppercase;
}
 .heading {
     color: #107429ed;
}
 .edit-text {
     color: #107429ed;
}
 .input-field {
     color: #107429ed;
}
 .card-title {
     color: #107429ed;
}
/****************** Navigation ******************/
 .nav {
     background-color: #107429ed;
}
 .brand-logo {
     font-weight: 600;
     margin-left: 20px;
     display: flex;
}
 nav .brand-logo i {
     float: right;
     margin-left: 10px;
}
 nav .button-collapse {
     float: right;
}
 .filter-nav {
     background-color: #107429ed;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
/****************** Containers ******************/
 .podcast {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
}
 .flex-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}
 .form-container {
     background-color: #ffffff;
     margin: 40px;
     padding: 20px;
     border-radius: 4px;
     color: #107429ed;
     align-items: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     width: 70%;
}
 .podcast-container {
     display: flex;
     flex-wrap: wrap;
     padding: 10px;
     justify-content: center;
}
 .podcast-detail-container {
     background-color: #ffffff;
     margin: 40px;
     padding: 20px;
     border-radius: 4px;
     color: #107429ed;
     display: flex;
     flex-direction: column;
}
 .podcast-card {
     background: #fff;
     color: #000000;
     border-radius: 4px;
     height: 450px;
     width: 400px;
     padding: 30px;
     margin: 20px;
     justify-content: center;
     text-align: center;
}
 .podcast-edit {
     background-color: #ffffff;
     margin: 40px;
     width: 70%;
     padding: 20px;
     border-radius: 4px;
     color: #107429ed;
     display: flex;
     flex-direction: column;
}
 .heading-container, .podcast-contents {
     flex-direction: row;
     display: flex;
}
 .category_container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-bottom: 10px;
}
 .podcast-button-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: 5px;
}
/****************** Buttons ******************/
 .button_container {
     margin-left: 40px;
     align-self: flex-end;
}
 .detail-button {
     margin-left: 40px;
     margin-bottom: 30px;
     justify-content: center;
}
 .padding {
     padding-left: 20px;
     padding-right: 20px;
}
/****************** Headings ******************/
 .heading {
     width: 100%;
     font-size: 2rem;
     font-weight: 600;
     text-align: center;
}
 .podcast-title {
     font-weight: 600;
     text-transform: capitalize;
     color: #107429ed;
}
 a {
     color: #000;
}
 .podcast-header {
     font-size: 2rem;
     font-weight: 600;
}
 .footer-bar{
     background-color: #107429ed;
}
 .btns {
     background-color: #107429ed;
}
/*Text*/
 .instruction {
     font-size: 1.5rem;
}
 .podcast-stat {
     display: flex;
}
 .ingredient {
     text-transform: capitalize;
}
/****************** Form ******************/
 .login-form, .category-form {
     width: 60%;
}
 .action-button {
     margin-top: 30px;
}
 .filter-btn {
     margin-right: 20px;
}
 .add-podcast {
     width: 100%;
}
 .add-podcast-fields {
     padding-left: 10px;
     padding-right: 10px;
}
 .switch {
     padding-top: 20px;
     padding-bottom: 20px;
}
 .edit, .delete {
     margin: 20px;
}
/****************** Images ******************/
 .podcast-image {
     width: 250px;
     height: 200px;
     border-radius: 4px;
     margin: 10px 30px 30px 30px;
}
 .detail-image {
     width: 300px;
     height: 300px;
     border-radius: 4px;
     margin: 30px 30px 30px 30px;
}
 .image {
     width: 350px;
     height: 300px;
     border-radius: 4px;
}
 .icon {
     margin-right: 10px;
}
/****************** Adjustments for small screen sizes ******************/
 @media only screen and (max-width: 660px) {
     .flex-container, .podcast-contents {
         flex-direction: column;
    }
     .form_container {
         width: 90%;
    }
     .remove {
         margin-top: 30px;
    }
     .podcast-header {
         text-align: center;
    }
     .detail-image {
         width: 240px;
         height: 260px;
         margin: 50px 50px 50px 5px;
         border-radius: 4px;
    }
}
