<!--                Add Podcast              -->

{% extends 'base.html'%} {% block content %}

<!--                Form Start              -->

<form action="{{ url_for('insert_podcast') }}" method="POST" class="col s12">

    <div class="valign-wrapper row podcast-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card-content">
                <span class="card-title">Please enter details.</span>
                <div class="row">

                    <div class="input-field col s12">
                        <label for="podcast_name">Podcast Name</label>
                        <input type="text" class="validate" name="podcast_name" maxlength="30" id="podcast_name" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_description">Podcast Description </label>
                        <input type="tel" class="validate" name="podcast_description" id="podcast_description" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_image">Link for podcast image</label>
                        <input type="text" class="validate" name="podcast_image" id="podcast_image" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_website">Podcast Website Link</label>
                        <input type="text" class="validate" name="podcast_website" id="podcast_website" />
                    </div>
                </div>
            </div>

            <!--                Buttons              -->

            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <button class="btn waves-effect waves-light btns" type="submit" name="action">Add Podcast
                    <i class="material-icons right">playlist_add</i></button>
            </div>
        </div>
    </div>

    <!--                End of form              -->

</form>
{% endblock %}