<!DOCTYPE html>
<html lang="en">

<!------------ Template Heading and Navbar ------------>

<!-- Meta -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Mark Dyson" />
    <meta name="description" content="Silverheath Limited">

<!------------ Page Title ------------>

    <title>Podcast Directory</title>

<!------------ CSS Links ------------>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

<!------------ External Javascript Links ------------>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>

<!------------ Main Content ------------>

<body>
    <header>

<!------------ Nav Bar ------------>

        <nav class="nav">
            <div class="nav-wrapper">

                <a href="{{url_for('get_landing')}}" class="brand-logo">Podcasts</a>

                <a href="{{url_for('get_landing')}}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i> </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_manage')}}"><i class="medium material-icons left">mode_edit</i>Login</a></li>
                    <li><a href="{{url_for('get_contact')}}"><i class="medium material-icons left">contact_mail</i>Contact</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_manage')}}">Login</a></li>
                    <li><a href="{{url_for('get_contact')}}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

<!------------ Template Content Start ------------>
    {% block content %} {% endblock %}

<!------------ Footer ------------>

    <footer class="footer-bar center-align">
        <div class="container">
            <div class="row">
                <div class="col l12 s12 m12 l12">
                    <a href="https://www.silverheath.co.uk/">Copyright &copy; Silverheath LTD 2020</a>
                    <p>Registered company number: 12402504</p>
                </div>
            </div>
        </div>
    </footer>

<!------------ Internal Javascripts ------------>

    <script src="{{url_for('static', filename='js/onclick.js')}}"></script>
    <script src="{{url_for('static', filename='js/menu.js')}}"></script>

</body>

</html>