{% extends 'base.html'%} {% block content %}
<!-- Edit podcast -->

<!-- Start of form -->
<div class="valign-wrapper row podcast-edit-box">
    <div class="col card hoverable col s9 pull-s2 l7 pull-l3 m7 pull-m3">
        <div class="heading uppercase">
            <h4>Existing Data</h4>
        </div>
        <div class="edit-text">
            <p>Existing Title: {{podcast.podcast_name}}</p>
            <br>
            <p>Existing Description:{{podcast.podcast_description}}</p>
            <br>
            <p>Existing Image: {{podcast.podcast_image}}</p>
            <br>
            <p>Link to podcasters Website: {{podcast.podcast_website}}</p>
        </div>
    </div>
</div>
<!-- Form Start -->

<form action="{{ url_for('get_update', podcast_id=podcast._id) }}" method="POST" class="col s12">

    <div class="valign-wrapper row podcast-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card-content">
                <span class="card-title">Please enter the new details.</span>
                <div class="row">

                    <div class="input-field col s12">
                        <label for="podcast_name">Podcast Name</label>
                        <input type="text" class="validate" name="podcast_name" maxlength="30" id="podcast_name" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_description">Podcast Description </label>
                        <input type="tel" class="validate" name="podcast_description" id="podcast_description" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_image">Link for podcast image</label>
                        <input type="text" class="validate" name="podcast_image" id="podcast_image" />
                    </div>

                    <div class="input-field col s12">
                        <label for="podcast_website">Podcast Website Link</label>
                        <input type="text" class="validate" name="podcast_website" id="podcast_website" />
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                <button class="btn btns waves-effect waves-light" type="submit" name="action">Send
                    <i class="material-icons right">send</i></button>
            </div>
        </div>
    </div>

</form>
{% endblock %}