{% extends 'base.html'%} {% block content %}

<p class="heading uppercase">Browse or Login to add your own!</p>

<div class="flex-container">

<!------------ Start of form ------------>

    {% for podcast in podcasts %}

<!------------ form content  ------------>

    <div class="podcast-card z-depth-3 col s12 m6 l3">
        <h5 class="podcast-title">{{podcast.podcast_name}}</h5>
        <img src="{{podcast.podcast_image}}" alt="podcast image" class="podcast-image" />

<!------------ Buttons ------------>

        <a href="{{url_for( 'get_details', podcast_id=podcast._id)}}" class="buttons btns waves-effect waves-light btn">View Details</a>
    </div>

    {% endfor %}
</div>
{% endblock %}