{% extends 'base.html'%} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m12 s6">
            <div class="center">
                <br>
                <br>
                <a href=" {{url_for( 'get_add')}} " class="waves-effect waves-light btns btn btn_large">Add Podcast</a>
            </div>
        </div>
    </div>
</div>

<div class="flex-container">

<!------------ Start of loop ------------>
    {% for podcast in podcasts %}

<!------------ Form content ------------>

    <div class="podcast-card col s12 m6 l3">
        <h5 class="podcast-title">{{podcast.podcast_name}}</h5>
        <img src="{{podcast.podcast_image}}" alt="podcast image" class="podcast-image" />

<!------------ Buttons ------------>

        <a href=" {{url_for( 'get_edit', podcast_id=podcast._id)}} " class=" buttons waves-effect waves-light btn btn_large btns btn_small">Edit</a>
        <a href="{{url_for( 'get_delete', podcast_id=podcast._id)}}" class=" buttons waves-effect waves-light btn btns btn_small">Del</a>
    </div>

    {% endfor %}
</div>
{% endblock %}

