{% extends 'base.html'%} {% block content %}

<!------------ Podcast Details ------------>

<!------------Page contents ------------>

<div class="podcast-detail-container s12 m12 l12">
    <p class="heading uppercase">{{podcast.podcast_name}}</p>
    <div class="podcast-contents">
        <img src="{{podcast.podcast_image}}" alt="Podcast Image" class="detail-image" />
        <p>{{podcast.podcast_description}}
            <br>
            <br>
        </p>
    </div>

<!------------ Buttons ------------>

    <div class="center-align">
        <a href=" {{podcast.podcast_website}} " class=" buttons waves-effect waves-light btn btns btn_small ">View Podcast</a>
    </div>
</div>

{% endblock %}
