{% extends 'base.html'%} {% block content %}

<!-- Podcast details -->

<!-- Page title -->
<div class="podcast-detail-container s12 m12 l12">
    <p class="heading">{{podcast.podcast_name}}</p>
    <div class="podcast-contents">
        <img src="{{podcast.podcast_image}}" alt="Podcast Image" class="detail-image" />
        <p>{{podcast.podcast_description}}
            <br>
            <br>
        </p>
    </div>
<div class="detail-button s12 l12 m12 s12">
<div class="valign-wrapper">
    <a href=" {{podcast.podcast_website}} " class=" buttons waves-effect waves-light btn btns btn_small ">View Podcast</a>
</div>

{% endblock %}
